.fc-event {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    height: auto ; /* イベントの高さを自動にする */
    font-size: 16px !important; /* 文字サイズを調整 importantを入れないと反映されない。原因不明 */
}

.fc-event .fc-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1;
}

.delete-btn {
    background: none;
    color: #FFFFFF; /* テキストの色を白に設定 */
    border: none;
    padding: 0 5px ; /* パディングを調整 */
    font-size: 22px ;
    font-weight: bold ; /* テキストを太字に設定 */
    cursor: pointer;
    display: inline-block;
    margin-left: 10px ; /* 左の余白を追加して見やすくする */
}

.delete-btn:hover {
    color: #FF0000; /* ホバー時の色を赤に設定 */
}

/* レスポンシブデザイン */
@media (max-width: 768px) {
    .fc-event {
        font-size: 14px !important; /* 文字サイズを小さくする */
        flex-direction: column; /* イベント内容を縦に並べる */
    }

    .delete-btn {
        font-size: 18px;
        margin-left: 0; /* 左の余白をなくす */
        margin-top: 5px; /* 上の余白を追加する */
    }
}
