.fc-event {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    height: auto ; /* イベントの高さを自動にする */
    font-size: 16px !important; /* 文字サイズを調整 importantを入れないと反映されない。原因不明 */
}

.fc-event .fc-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1;
}

.delete-btn {
    background: none;
    color: #FFFFFF; /* テキストの色を白に設定 */
    border: none;
    padding: 0 5px ; /* パディングを調整 */
    font-size: 22px ;
    font-weight: bold ; /* テキストを太字に設定 */
    cursor: pointer;
    display: inline-block;
    margin-left: 10px ; /* 左の余白を追加して見やすくする */
}

.delete-btn:hover {
    color: #FF0000; /* ホバー時の色を赤に設定 */
}
