.btn {
    display: inline-block;
    padding: 10px 20px; /* ボタン内の余白 */
    margin: 10px 0; /* 上下の余白 */
    font-size: 16px !important; /* 文字サイズ */
    font-weight: bold; /* 文字の太さ */
    text-align: center; /* 文字を中央揃え */
    text-decoration: none; /* 下線を消す */
    color: #FFFFFF !important; /* テキストの色 */
    background-color: #6B7280 !important; /* 背景色をグレーに設定 */
    border: none; /* ボーダーを消す */
    border-radius: 5px; /* 角を丸くする */
    cursor: pointer; /* カーソルをポインタにする */
    transition: background-color 0.3s ease; /* ホバー時の背景色変更をスムーズにする */
}

.btn:hover {
    background-color: #4B5563 !important; /* ホバー時の背景色を濃いグレーに設定 */
}

.center-btn {
    display: flex;
    justify-content: center;
}

/* レスポンシブデザイン */
@media (max-width: 768px) {
    .btn {
        width: 50%; /* ボタンを全幅にする */
        padding: -10px 0; /* 上下の余白を調整 */
        font-size: 15px !important; /* 文字サイズを大きくする */
    }

    .center-btn {
        flex-direction: column; /* ボタンを縦に並べる */
    }
}
