<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<nav class="bg-white shadow-md" th:fragment="nav">
    <div class="container mx-auto px-4 py-2 flex justify-between items-center">
        <div class="text-2xl font-bold text-gray-800">
            <a href="/">シフト管理アプリ</a>
        </div>
        <ul class="flex space-x-4">
            <li><a th:href="@{/user}" class="text-gray-800 hover:text-gray-600">ユーザー管理</a></li>
            <li><a th:href="@{/shift/request/user_select}" class="text-gray-800 hover:text-gray-600">シフト希望登録</a></li>
            <li><a th:href="@{/manager}" class="text-gray-800 hover:text-gray-600">管理者ページ</a></li>
        </ul>
    </div>
</nav>




<body>


</body>
</html>