<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head('シフト作成ホーム')"></head>

<body class="bg-gray-100">
<nav class="bg-white shadow-md">
    <div class="container mx-auto px-4 py-2 flex justify-between items-center">
        <div class="text-2xl font-bold text-gray-800">
            <a href="/">シフト管理アプリ</a>
        </div>
        <ul class="flex space-x-4">
            <li><a th:href="@{/user}" class="text-gray-800 hover:text-gray-600">ユーザー登録・削除</a></li>
            <li><a th:href="@{/shift/request/user_select}" class="text-gray-800 hover:text-gray-600">シフト希望登録</a></li>
            <li><a th:href="@{/manager}" class="text-gray-800 hover:text-gray-600">管理者ページ</a></li>
        </ul>
    </div>
</nav>

<div class="container mx-auto mt-8 px-4">
    <h1 class="text-3xl font-bold text-gray-800 mb-8 text-center">シフト作成ホーム</h1>
    <div class="flex justify-center space-x-4">
        <a th:href="@{/user}" class="flex-1 max-w-sm p-6 bg-white rounded-lg border border-gray-200 shadow-md hover:bg-gray-100 transition duration-300 ease-in-out">
            <h2 class="text-xl font-bold text-gray-800 text-center">ユーザー管理</h2>
        </a>
        <a th:href="@{/shift/request/user_select}" class="flex-1 max-w-sm p-6 bg-white rounded-lg border border-gray-200 shadow-md hover:bg-gray-100 transition duration-300 ease-in-out">
            <h2 class="text-xl font-bold text-gray-800 text-center">シフト希望登録</h2>
        </a>
        <a th:href="@{/manager}" class="flex-1 max-w-sm p-6 bg-gray-200 rounded-lg border border-gray-200 shadow-md hover:bg-gray-300 transition duration-300 ease-in-out">
            <h2 class="text-xl font-bold text-gray-800 text-center">管理者ページ</h2>
        </a>
    </div>
</div>
</body>
</html>

