<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="layout(title, content)">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title th:replace="${title}">(default title)</title>-->
<!--    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">-->
<!--</head>-->
<!--<body class="bg-gray-100">-->
<!--<nav class="bg-white shadow-md">-->
<!--    <div class="container mx-auto px-4 py-2 flex justify-between items-center">-->
<!--        <div class="text-2xl font-bold text-gray-800">シフト管理アプリ</div>-->
<!--        <ul class="flex space-x-4">-->
<!--            <li><a th:href="@{/user}" class="text-gray-800 hover:text-gray-600">ユーザー登録・削除</a></li>-->
<!--            <li><a th:href="@{/shift/request/user_select}" class="text-gray-800 hover:text-gray-600">シフト希望登録</a></li>-->
<!--            <li><a th:href="@{/manager}" class="text-gray-800 hover:text-gray-600">管理者ページ</a></li>-->
<!--        </ul>-->
<!--    </div>-->
<!--</nav>-->
<!--<div class="container mx-auto mt-8 px-4" th:insert="${content}">-->
<!--    &lt;!&ndash; コンテンツブロック &ndash;&gt;-->
<!--</div>-->
<!--</body>-->
<!--</html>-->
