<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>管理者ページ</title>
    <link href='https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.css' rel='stylesheet' />
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.js'></script>
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/locales-all.min.js'></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');

            // Thymeleaf変数をJavaScript変数に変換
            var events = /*[[${eventsJson}]]*/ '[]';  // デフォルト値を空の配列に設定

            console.log("Events JSON from Thymeleaf: " + events);  // デバッグ用

            // JSON文字列をJavaScriptオブジェクトに変換
            events = JSON.parse(events);

            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                events: events,
                locale: 'ja'
            });

            calendar.render();
        });
        /*]]>*/
    </script>
</head>
<body class="bg-gray-100">
<nav class="bg-white shadow-md">
    <div class="container mx-auto px-4 py-2 flex justify-between items-center">
        <div class="text-2xl font-bold text-gray-800">シフト管理アプリ</div>
        <ul class="flex space-x-4">
            <li><a th:href="@{/user}" class="text-gray-800 hover:text-gray-600">ユーザー登録・削除</a></li>
            <li><a th:href="@{/shift/request/user_select}" class="text-gray-800 hover:text-gray-600">シフト希望登録</a></li>
            <li><a th:href="@{/manager}" class="text-gray-800 hover:text-gray-600">管理者ページ</a></li>
        </ul>
    </div>
</nav>
<div class="container mx-auto mt-8 px-4">
    <h1 class="text-3xl font-bold text-gray-800 mb-4">シフト作成者ページ</h1>
    <div id='calendar' class="bg-white p-6 rounded shadow-md mb-4"></div>
    <a th:href="@{/}" class="text-lg text-blue-600 hover:underline">ホームへ戻る</a>
</div>
</body>
</html>
