<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>管理者ページ</title>
    <link href='https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.css' rel='stylesheet' />
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.js'></script>
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/locales-all.min.js'></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');

            // Thymeleaf変数をJavaScript変数に変換
            var events = /*[[${eventsJson}]]*/ '[]';  // デフォルト値を空の配列に設定

            console.log("Events JSON from Thymeleaf: " + events);  // デバッグ用

            // JSON文字列をJavaScriptオブジェクトに変換
            events = JSON.parse(events);

            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                events: events,
                locale: 'ja'
            });

            calendar.render();
        });
        /*]]>*/
    </script>
</head>
<body>
<h1>シフト作成者ページ</h1>

<div id='calendar'></div>

<a th:href="@{/}">ホームへ戻る</a>
</body>
</html>
