<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head('ユーザー登録完了')"></head>

<body class="bg-gray-100">

<nav th:replace="fragments/nav :: nav"></nav>

<div class="container mx-auto mt-8 px-4">
    <h1 class="text-3xl font-bold text-gray-800 mb-4">ユーザー登録完了</h1>
    <h2 class="text-2xl font-semibold text-gray-800 mb-4"><span th:text="${user.name}"></span>を登録しました！</h2>
    <a th:href="@{/user}" class="text-lg text-blue-600 hover:underline">ユーザー管理に戻る</a>
    <a th:href="@{/}" class="text-lg text-blue-600 hover:underline mt-6 block">ホームへ戻る</a>
</div>
</body>
</html>
